<h1>{{ shop.name }}</h1>
{% schema %}
    {
        "name": "teste lotion",
        "settings": [
            {
                "type": "text",
                "id": "text_id",
                "label": "Insira o texto aqui"
            }
            
        ]
    }
{%endschema%}

