{{ section.settings.text_id }}

<main class="lotion">
    <div class="container">
        <header class="lotion_header">
        <h1> Lotion Co. by Frederico </h1>
        <p class="lotion_paragrafo">Conheça nossas loções</p>
        </header>


    </div>



    <article>
        <div>
            {{ page.content }}
        </div>
    </article>
</main>
{% schema %}
    {
        "name": "teste lotion",
        "settings": [
            {
                "type": "text",
                "id": "text_id",
                "label": "Insira o texto aqui"
            }
            
        ]
    }
{%endschema%}

