<h1>Olá mundo</h1>

<main class="lotion_container">
    <article>
        <h1>{{ page.title }}</h1>

        <div class="page_content">
            {{ page.content }}
        </div>
    </article>

</main>

{% schema %}
    {
        "name": "lotion-lp"
    } 
{%endschema%}

